<div class="container">

  Damnum emergens et lucrum cessans. Deceptus pro nolente est. Duo cum faciunt idem, non est idem.

  Ex maleficio non oritur contractus. Ex turpi causa actio non oritur.

  Falsus in uno falsus in omnibus. Fraus omnia corrumpit.

  Grata, rata et accepta.

  Habeat sibi! Hereditas iacens. Heres succedens in honore succedit in onere.
  Abusus non tollit usum. Accepto damno. Accessio cedit principali. Actio bonae fidei.
  Actio in factum concepta. Actio in ius concepta.  Actio in personam. Actio in rem.
  Actio noxalis. Actio poenalis. Alibi. A potiori. Argumenta ponderantur, non numerantur. Argumentum ad oculos.

  Bis dat qui cito dat. Bonorum possessio.

  Casum sentit dominus. Caveat emptor. Ceteris paribus. Condicio sine qua non.
  Contra factum non datur argumentum. Conventio facit legam. Corpus delicti.
  Crescente malitia crescere debet et poena. Cuius commodum, eius debet esse incommodum.
  Cuius commodum, eius periculum. Curia advisare vult!

</div>