<div class="container" id="messages">
  <% if !notice.nil?  %>
    <p class="alert alert-primary" role="alert">
      <%= notice %>
    </p>
  <% elsif !alert.nil? %>
    <p class="alert alert-danger" role="alert">
      <%= alert %>
    </p>
  <% end %>
</div>
<script>
    $(document).ready(function(){
        $('#messages').show(500);
    });
</script>