// for image preview in /products/_form.html.erb
.my-img {
  max-width: 200px;
  max-height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 10px 10px 10px;
}

/*hide useless button in /products/_form.html.erb */
.trix-button--icon-attach, .trix-button-group--file-tools {
  display: none;
  opacity: 0;
}
