/*
 *= require_tree .
 *= require_self
 */
/*
 *= require font-awesome
 */

body {
    background-image: url(https://picua.org/images/2019/12/17/022cb3b921994985449245a411166609.jpg);
    background-size: cover;
    color: #DADADA;
}
em {
    font-size: 15px;
}

.search-nav {
    border: medium none;
    background-image: none;
    background: transparent;
    float: left;
    background-color: transparent;
}
.search-nav i{
    color: #DADADA;
    font-size: 25px;
}

.field {
    margin-bottom: 10px;
}

.field i {
    color: red;
}
