.page-link {
  background: #2E2F30;
  color: gainsboro;
}
.card-text {
  color: #EFEFEF;
}
.card {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.product_title {
  font-size: 20px;
  font-weight: 900;
}

.price {
  font-size: 30px;
}

.left, .right {
  display: inline;
  zoom: 1;
  width: 100%;
  margin-right: -110%;
  vertical-align: bottom;
  margin-left: 10px;
}
.right {
  text-align: right;
}