.link {
  text-decoration: none;
  color: #CCCCCC;
}

.link:hover {
  text-decoration: none;
  color: white;
}

table {
  margin-top: 20px;
  margin-bottom: 30px;
}

th {

  text-align: center;
  border: 1px solid #555555;
}

td {
  padding: 10px;
  border: 1px solid #555555;
}

.container .image_in_modal img {
  padding-left: 0em;
  width: 800px;
}