<div class="container">
  <div class="navbar">
    <%= link_to home_path do %>
      <div class="logo">
        <img src="https://picua.org/images/2019/12/18/392d23640b342252dc54600a394c47b2.png"  width="300" height="70" alt="logo">
      </div>
    <% end %>
    <form class="form-inline">
      <%= form_tag(products_path, method: "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search", class:'form-control mr-sm-2' %>
        <button type="submit" class="search-nav"><i class="fa fa-search"></i></button>
      <% end %>
    </form>
  </div>
  <div class="navbar">
      ONE MORE NAVBAR will be right here
    <%#= link_to 'admin', admin_path %>
    <%= link_to 'admin', backofficeCategories_path %>
  </div>
</div>